<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>772008717866-t5uthb88biusjrcq6ct49hj1ijugf17j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.772008717866-t5uthb88biusjrcq6ct49hj1ijugf17j</string>
	<key>API_KEY</key>
	<string>AIzaSyDNAzf5RdDqt7tmk13OEaD1rnExpAWFdtI</string>
	<key>GCM_SENDER_ID</key>
	<string>772008717866</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.siparisTakipDemo</string>
	<key>PROJECT_ID</key>
	<string>siparistakipdemo</string>
	<key>STORAGE_BUCKET</key>
	<string>siparistakipdemo.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:772008717866:ios:2069a64a8a5c18ef179d53</string>
</dict>
</plist>